/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * kalua implementation : © August Delemeester haphazardeinsteinaugdog@gmail.com
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * kalua.css
 *
 * kalua stylesheet
 *
 */

/* 
allows better flex of played card div
#game_play_area {
    display: flex; Use flexbox for layout 
    flex-wrap: wrap; Allow wrapping of elements
    justify-content: left;
    gap: 10px;  Add some space between elements
}
 */

/*
use to make div white and visible
background-color: #fff;
border: 1px solid #ddd;
border-radius: 5px; */

#game_play_area {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

#board_background {
    position: relative;
    width: 356px;
    height: 215px;
    background-image: url('img/kboard_400_265.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    padding: 25px; /* Add 30px padding to the div */
    flex: 0 0 auto;
}

#hkboard {
    width: 350px; /* Match the width of board_background*/
    height: 55px; /* Match the height of board_background */
    position: relative;
    border: 1px solid #ccc;
}

#hkZone {
    width: 400px; /* Match the width of board_background */
    height: 55px; /* Adjust height as needed */
    position: relative;
    margin-top: 20px; /* Add margin to create a gap above the div */
    border: 1px solid #ddd; /* Add a border */
    border-radius: 5px; /* Round the corners */
}

#atheistFamilies {
    width: 400px; /* Match the width of board_background */
    height: 170px; /* Match the height of board_background */
    position: relative;
    margin-top: 20px; /* Add margin to create a gap above the div */
}

#playedCards {
    width: 650px; /* needs to hold five cards */
    height: 190px; /* Match card height */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}


#resolvedCards {
    width: 650px; /* needs to hold five cards */
    height: 190px; /* Match card height */
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

#card_areas {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex: 0 0 700px;
    min-width: 350px;
    max-width: 700px;
    margin-left: 0;
}

.player_area {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 620px;
    min-height: 210px; /* Adjusted height to fit both player_families and player_cards */
    background-color: #f9f9f9;
    border-radius: 5px;
    text-align: right;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    display: inline-block;
    align-items: center;
}

.player_hand {
    min-height: 100px;
    min-width: 610px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the height */
    display: block;
}

.player_name {
    font-weight: bold;
    margin-bottom: 10px;
}

.player_families {
    min-height: 40px;
    min-width: 600px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the height */
    display: block;
}

.player_cards {
    min-height: 100px;
    width: auto;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in the height */
    display: block;
}

.player_dice {
    min-width: 60px; /* same as card div */
}

.player_kept_cards {
    min-width: 650px; /* same as card div */
    width: auto;
    min-width: 120px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}

.family_item {
    width: 30px;
    height: 30px;
    background-image: url('img/30_30_meeple.png');
    background-size: 30px 30px;
    background-repeat: no-repeat;
    opacity: 1; /* Ensure opacity is set to 1 */
}

.hk_token {
    width: 30px;
    height: 30px;
    background-image: url('img/30_30_hktoken.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
}

/* Styles for card decks */
.deck {
    width: 120px; /* Width of each card */
    height: 177.4px; /* Height of each card */
    background-size: cover;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 5px;
    display: inline-block;
}


